@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

    *{
        font-family: 'Prompt', sans-serif ;
    }
    table{
        border: collapse;
        width:80%;

    }
    table th{
        text-align: left;
        background-color: #3a6070;
        color: #fff;
        padding: 4px 5px 4px 8px;

    }
    table td{
        border: 1px solid #000;
        padding:4px 8px;
    }
    #btn_add{
        display: block;
        border: 0;
        width: 10%;
        height: 40px;
        border-radius: 5px;
        background-color: #ea4fff;
        box-shadow:raba(0,0,0,0.5);
        padding: 4px 5px 5px 4px;
        color: aliceblue;
        font-weight: 600;
    }
    /* The Modal (background) */
#add_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: .3s ease-in;
    transform: translate(50,50);
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 8px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    align-content: flex-end;
    float: right;
    margin-top: -100px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content .form-control{
    display: block;
    width: 75%;
    border-radius: 3px;
    align-content: center;
    box-sizing: border-box;
    border: 1px solid #888;
    margin-bottom: 30px;
    padding: 6px 6px;
  }
  select{
    display: block;
    box-sizing: border-box;
    width: 75%;
    border: 1px solid #888;
    margin-bottom: 30px;
    padding: 6px 6px;
  }
input[type="time"]::-webkit-calendar-picker-indicator{
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}

  